fix_caja.js
backend/.env
Saas_Náutico_Social_Media_1.zip
Base_Guarderias_Rio_Parana_Uruguay.xlsx
Base_Guarderias_Parana_Uruguay_PRO_C.xlsx
Base_Guarderias_Parana_Uruguay_FINAL.xlsx
frontend/test_error_v2.txt
frontend/test_error.txt
node_modules

backend/.env
backend/.env

**/.terraform/
frontend/terraform/.terraform.lock.hcl
frontend/terraform/.terraform.tfstate.lock.info
.gitignore
frontend/terraform/terraform.tfstate
frontend/terraform/terraform.tfstate.backup
